body {
  padding-bottom: 50px;
}

ul#gallery {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 251, 253);
}

#gallery li {
  margin: 5px auto;
  list-style: none;
}

#gallery li > img {
  width: 800px;
  border-radius: 10px;
  border: 3px solid teal;
}

#validation-input {
  padding: 10px;
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

div#boxes {
  margin-top: 20px;
}

.inner-box {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10%;
}
